.project
.factorypath
*.class
*.log
**/target/**
**/.settings/**
.classpath
build/**
.svn/**
.idea
*.iml
.metadata/**
logging.fileDir*

/.settings/**

classes
.history
/target/
node_modules
config.json
